# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.xlsx
*.sqlite

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# Project specific
cache/
*.graphml
*.parquet
map.xlsx
R6.xlsx
H27.xls
*.sqlite
*.html
.DS_Store
misc/outputs/
